
          <div class="publications">
            {% assign selected_pubs = site.scholar.bibliography | where_exp: "item", "item.selected == true" | reverse %}
            {% for entry in selected_pubs %}
              {% include bib_entry.html entry=entry %}
            {% endfor %}
          </div>

          
          <!-- <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} --group_by none --query @*[selected=true]* %}
          </div> -->

          <!-- <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} --group_by none --query @*[selected=true]* | reverse %}
          </div> -->

          <!-- <div class="publications">
            <ol class="bibliography">
              {% assign selected_papers = "kim2024metasurface, kim2022spiral, nam2023depolarized" | split: ", " %}
              {% for key in selected_papers %}
                {% for entry in site.scholar.bibliography %}
                  {% if entry.key == key %}
                    {% include bib.html entry=entry %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ol>
          </div> -->
          
